@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&family=Montserrat:wght@300&family=Permanent+Marker&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #d7dbdd;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Geist Mono", monospace;
    position: relative;
    
}

.login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 500px;
    height: 300px;
    margin-top: 40px;
    box-shadow: 5px 5px 20px 20px rgba(121, 125, 127);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 475px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Geist Mono", monospace;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input::placeholder {
    font-family: "Geist Mono", monospace;
}



button:hover {
    background-color: #7d857d;
}

button{
    font-family: "Geist Mono", monospace;
}

.volver{
    position: absolute; /* Posiciona el contenedor fuera del flujo centrado */
    left: 20px; /* Puedes ajustar la distancia desde el borde izquierdo */
    top: 20px;

}
.volver button {
    position: absolute;
    left: 0;
    height: 1cm;
    width: 4cm;
    border-radius: 20px;
    border: none;
        
}