@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #e0e0e0;
}
.sobremi {
    background-color: #cfd8dc ;
    width: 30vw;
    height: 25vh;
    margin-left: 2em;
    border-radius: 15px;
}

.sobremi h2 {
    text-align: left;
    padding-left: 1em;
    font-family: Jost, sans-serif;
    font-size: 30px;
    padding-top: 0.5em;
}