
a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 20px;
    color: #000000;
}

.navbar {
    text-align: end;
    padding: 20px 30px;
}

.list {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: end;
    
}

.item {
    margin:0 7em;
}